* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	text-align:center;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 0.3;
	font-weight: 700;
	font-size: 30px;
}

h2 {
	font-weight: 500;


}

h3 {
	font-weight: 300;
	line-height: 1.5;
  text-align:center;
	margin: 0;
}


/*     HEADER start      */

header {
  width: 100%;
  height: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #b2e5ff;
  z-index: 10;
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

header nav {
	width: 0px;
	height: 100%;
	background: white;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	transition: width 0.3s ease-in-out;
	-webkit-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

nav.clicked {
	width: 250px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
  margin-top: 50px;
}

header ul li {
	margin: 25px 20px;
	float: left;
	margin-right: 100px;
}

header a {
	color: black;
	text-decoration: none;
	font-weight: 800;
	font-size: 20px;
	white-space: nowrap;
}


/*     HEADER end      */

/*     HAMBURGER BUTTON start      */


#hamburger-button {
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 22px;
  left: 5px;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

#hamburger-button>span {
  position: absolute;
  border-radius: 20px;
  height: 20%;
  background: #222327;
  top: 0px;
}

#hamburger-button>span:nth-child(1) {
  width: 100%;
  top: 0%;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button>span:nth-child(2) {
  width: 95%;
  top: 50%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(3) {
  width: 95%;
  top: 50%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(4) {
  width: 95%;
  top: 100%;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button.clicked>span:nth-child(1) {
  top: 50%;
  width: 0%;
}

#hamburger-button.clicked>span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}

#hamburger-button.clicked>span:nth-child(3) {
  top: 50%;
  transform: rotate(45deg);
}

#hamburger-button.clicked>span:nth-child(4) {
  top: 50%;
  width: 0%;
}

#hamburger-button.clicked {
  left: 180px;
}


/*     HAMBURGER end      */

/*      BUTTONS   */

/*.big_button {
	box-sizing: border-box;
	margin: 0 ;
	font-size: 25px;
	width: 50%;
}*/

/*      BUTTONS end    */



/*      SITE CONTAINER start    */


#site-container {
	padding-top: 70px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;

	filter: blur(0px);
	transition: filter 0.2s ease-out;
	-webkit-transition: -webkit-filter 0.2s ease-out;

	transform: translateZ(0);
	will-change: filter;
}

			body.modal-showing #site-container {
				filter: blur(10px);
			}
			body.modal-showing header {
				opacity: 0;
			}
			body.modal-showing.closing #site-container {
				filter: blur(0px);
			}
			body.modal-showing.closing header {
				opacity: 1;
			}

#site-container p {
	line-height: 1.5;
	text-align: center;
	font-weight: 300;
}


/*     SITE CONTAINER end      */



/*     BOXES (news/events/e-learning) WITH INFORMATION start      */

.boxContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
	margin-top: 10px;
}

.box {
  width: 50%;
  height: 150px;
  box-sizing: border-box;
  float: left;
  border: 3px solid white;
}


/*     BOXES WITH INFORMATION end     */



.button {
	background: #0077b2;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}


/*     LOGIN MODAL start     */

.modal-container {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-out;

	will-change: opacity;
	transform: translateZ(0);
}

			body.modal-showing .modal-container {
				opacity: 1;
				visibility: visible;
			}
			body.modal-showing.closing .modal-container {
				opacity: 0;
			}

#modal {
	min-width: 300px;
	height: 450px;
	padding: 20px;
	overflow: hidden;
	background-color: white;
	position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.5);


	transition: top 0.2s ease-out, transform 0.2s ease-out;

	box-shadow: 0 22px 55px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%)
				translateZ(0)
				scale(0.9)
				rotateX(60deg);

	/* Getting the GPU to handle it - the NEW way */
	will-change: top, transform;
}

			body.modal-showing .modal-container #modal {
					top: 50%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(1) /* zoom in to scale 1:1 */
					   	   	   rotateX(0);
			}
			body.modal-showing.closing .modal-container #modal {
					top: 45%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(0.9) /* zoom in to scale 1:1 */
					   	   	   rotateX(60deg);
			}

#modal img {
	width: 20px;
	float: left;
	margin-right: 10px;
}

/*     LOGIN MODAL end     */


/*     REGISTER POP UP start     */

.register-container {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-out;

	will-change: opacity;
	transform: translateZ(0);
}

			body.register-showing .register-container {
				opacity: 1;
				visibility: visible;
			}
			body.register-showing.closing .register-container {
				opacity: 0;
			}
			body.register-showing header {
				opacity: 0;
			}
			body.register-showing.closing header {
				opacity: 1;
			}

#register {
	min-width: 300px;
	height: 450px;
	padding: 20px;
	overflow: hidden;
	background-color: white;
	position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.5);


	transition: top 0.2s ease-out, transform 0.2s ease-out;

	box-shadow: 0 22px 55px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%)
				translateZ(0)
				scale(0.9)
				rotateX(60deg);

	/* Getting the GPU to handle it - the NEW way */
	will-change: top, transform;
}

			body.register-showing .register-container #register {
					top: 50%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(1) /* zoom in to scale 1:1 */
					   	   	   rotateX(0);
			}
			body.register-showing.closing .register-container #register {
					top: 45%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(0.9) /* zoom in to scale 1:1 */
					   	   	   rotateX(60deg);
			}

#register img {
	width: 20px;
	float: left;
	margin-right: 10px;
}

/*     REGISTER POP UP end     */




/*     FORM DESIGN start     */

form {
	border-top: 2px solid #dbdbdb;
	margin-top: 20px;
}

label:nth-child(1) {
	margin-top: 20px;
}

label {
  display: block;
  font-size: 14px;
}

label + label {
  margin-top: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  display: block;
  width: 100%;
  border: solid 1px grey;
  padding: 10px 6px;
  font-size: 16px;
  line-height: 1;
  margin-top: 6px;
}

input[type="submit"] {
	background: #0077b2;
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding: 15px 20px;
	margin: 20px 0px;
}

/*     FORM DESIGN end     */



/*     CANCEL ( X ) BUTTON start     */

.cancel {
	background-color: black;
	font-size: 20px;
	color: white;
	padding: 10px 18px;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

/*     CANCEL ( X ) BUTTON end     */


/*     FOOTER start     */

footer {
	background-color: #b2e5ff;
	padding: 5%;
	font-size: 14px;
	text-align: center;
	margin-top: 80px;
}

/*     FOOTER end    */



/*accountHomePage*/

.tabs{
	margin: 0;
	text-align: center;
	width: 100%;
	padding-left: 0;
}

.tabs > a > li {
	overflow: hidden;
	margin:0;
	list-style: none;
	display: inline-block;
	border: 1px solid #000;
	width: 50%;
	box-sizing: border-box;
	clear: right;
	padding: 5px 0;
	background-color: #cecece;
	border-radius: 5% 5% 0 0;
}

.tabs > a{
	text-decoration: none;
	font-size: 20px;
	color: #000;
}

.tabs > a.active{
}

.tabs > a.active > li{
	padding: 6px 0;
	background-color: #ffffff;
	font-weight: bold;
	border-bottom-style: none;
}


#tab1{
	text-align: center;
}


/*Right column--------------------*/

#tab1 > .columnRight{
	width: 50%;
	float: right;

}

#tab1 > .columnRight > .contentHolderBox{
	margin-left: 1.5%;
	margin-right:2%;
	margin-bottom: 5px;
	width: 96.5%;
	padding: 0 3%;
}

#tab1 > .columnRight > .contentHolderBox > img {
	width: 100%;
}


/*Left column--------------------*/

#tab1 > .columnLeft{
	width: 50%;
	float: left;

}

#tab1 > .columnLeft > .contentHolderBox{
	margin-left: 2%;
	margin-right: 1.5%;
	margin-bottom: 5px;
	padding: 0 3%;
	width: 96.5%;

}

#tab1 > .columnLeft > .contentHolderBox > img {
	width: 100%;

}

.contentHolderBox{
	background-color: #b2e5ff;
}

.contentHolderBox > h3{
	font-size: 18px;
}

#tab2{

}

#tab2 > ul{
padding: 0;
width: 96.5%;
margin: 0 auto;
}

#tab2 > ul > a > li{
	border: solid 1px #000;
	padding: 6px;
	list-style: none;
	margin-bottom: 8px;
}

#tab2 > ul > a{
	text-decoration: none;
	font-size: 18px;
}

#tab2 > ul > a > li > img{
max-width: 22px;
height: auto;
float: right;
}
