* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	text-align:center;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 0.3;
	font-weight: 700;
	font-size: 30px;
}

h2 {
	font-weight: 500;


}

h3 {
	font-weight: 300;
	line-height: 1.5;
  text-align:center;
	margin: 0;
}


/*     HEADER start      */

header {
  width: 100%;
  height: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #b2e5ff;
  z-index: 10;
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

header nav {
	width: 0px;
	height: 100%;
	background: white;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	transition: width 0.3s ease-in-out;
	-webkit-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

nav.clicked {
	width: 250px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
  margin-top: 50px;
}

header ul li {
	margin: 10px 20px;
	float: left;
	margin-right: 100px;
}

header a {
	color: black;
	text-decoration: none;
	font-weight: 800;
	font-size: 20px;
	white-space: nowrap;
}


/*     HEADER end      */

/*     HAMBURGER BUTTON start      */


#hamburger-button {
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 22px;
  left: 5px;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

#hamburger-button>span {
  position: absolute;
  border-radius: 20px;
  height: 20%;
  background: #222327;
  top: 0px;
}

#hamburger-button>span:nth-child(1) {
  width: 100%;
  top: 0%;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button>span:nth-child(2) {
  width: 95%;
  top: 50%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(3) {
  width: 95%;
  top: 50%;
  transition: all 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(4) {
  width: 95%;
  top: 100%;
  transition: top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button.clicked>span:nth-child(1) {
  top: 50%;
  width: 0%;
}

#hamburger-button.clicked>span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}

#hamburger-button.clicked>span:nth-child(3) {
  top: 50%;
  transform: rotate(45deg);
}

#hamburger-button.clicked>span:nth-child(4) {
  top: 50%;
  width: 0%;
}

#hamburger-button.clicked {
  left: 180px;
}

#educationLink{

}



.educationMenuHidden{
	display: none;
}

#educationLi{
	max-height: 0px;
	transition: max-height 0.2s ease-in;
}


.educationMenu{
	margin: 0;
	list-style: none;
}

.liShowing#educationLi {
	max-height: 20px;
	margin-top: 0;
	margin-bottom: 6px;
}

.educationMenu > li > a {
	text-decoration: none;
	color: #000000;
	font-weight: 300;
	font-size: 16px;
}


/*     HAMBURGER end      */

/*      BUTTONS   */

/*.big_button {
	box-sizing: border-box;
	margin: 0 ;
	font-size: 25px;
	width: 50%;
}*/

/*      BUTTONS end    */



/*      SITE CONTAINER start    */


#site-container, #manual-site-container {
	max-width: 1000px;
	padding-top: 70px;
	margin: 0 auto;
	position: relative;

	filter: blur(0px);
	transition: filter 0.2s ease-out;
	-webkit-transition: -webkit-filter 0.2s ease-out;

	transform: translateZ(0);
	will-change: filter;
}

			body.modal-showing #site-container {
				filter: blur(10px);
			}
			body.modal-showing header {
				opacity: 0;
				display: none;
			}
			body.modal-showing.closing #site-container {
				filter: blur(0px);
			}
			body.modal-showing.closing header {
				opacity: 1;
			}

#site-container p, #manual-site-container p {
	line-height: 1.5;
	text-align: center;
	font-weight: 300;
}

#manual-site-container {
	padding: 15px 10px 15px 10px;
}

#manual-site-container h1 {
	line-height: 1.2;
}

textarea {
	width: 100%;
	height: 100px;
	border: 1px solid grey;
	border-radius: 2px;
	padding: 10px;
	font-size: 16px;
	margin-top: 8px;
}

#manual-site-container form {
	padding-top: 10px;
}


/*     SITE CONTAINER end      */



/*     BOXES (news/events/e-learning) WITH INFORMATION start      */

.boxContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
	margin-top: 10px;
}

.box {
	text-align: center;
  width: 50%;
  height: 150px;
  box-sizing: border-box;
  float: left;
  border: 3px solid white;
}


/*     BOXES WITH INFORMATION end     */



.button {
	background: #0077b2;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	margin: 15px 5px 0px 0px;
	float: left;
}

#centeredButtons {
	display: block;
	margin: 10px auto;
	float: none;
	width: 125px;
	text-align: center;
}


/*     LOGIN MODAL start     */

.modal-container {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-out;

	will-change: opacity;
	transform: translateZ(0);
}

			body.modal-showing .modal-container {
				opacity: 1;
				visibility: visible;
			}
			body.modal-showing.closing .modal-container {
				opacity: 0;
			}

#modal {
	min-width: 300px;
	height: 450px;
	padding: 20px;
	overflow: hidden;
	background-color: white;
	position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.5);


	transition: top 0.2s ease-out, transform 0.2s ease-out;

	box-shadow: 0 22px 55px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%)
				translateZ(0)
				scale(0.9)
				rotateX(60deg);

	/* Getting the GPU to handle it - the NEW way */
	will-change: top, transform;
}

			body.modal-showing .modal-container #modal {
					top: 50%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(1) /* zoom in to scale 1:1 */
					   	   	   rotateX(0);
			}
			body.modal-showing.closing .modal-container #modal {
					top: 45%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(0.9) /* zoom in to scale 1:1 */
					   	   	   rotateX(60deg);
			}

#modal img {
	width: 20px;
	float: left;
	margin-right: 10px;
}

#modal .cancel {
	top: 0;
}

.errormessage {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	overflow: hidden;
}

.errormessage > p {
	margin: 0;
	color: #e00b0b;
}

*[required].error {
	background-color: #f2e6e6;
	border-color: #e00b0b;
	color: #e00b0b;
}

*[required].error + .errormessage {
	max-height: 25px;
}

/*     LOGIN MODAL end     */


/*     REGISTER POP UP start     */

.register-container {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-out;

	will-change: opacity;
	transform: translateZ(0);
}

			body.register-showing .register-container {
				opacity: 1;
				visibility: visible;
			}
			body.register-showing.closing .register-container {
				opacity: 0;
			}
			body.register-showing header {
				opacity: 0;
				display: none;
			}
			body.register-showing.closing header {
				opacity: 1;
			}

#register {
	width: 300px;
	height: 540px;
	padding: 20px;
	overflow: hidden;
	background-color: white;
	position: absolute;
	position: relative;
  top: 50%;
  left: 50%;
	z-index: 100
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.5);


	transition: top 0.2s ease-out, transform 0.2s ease-out;

	box-shadow: 0 22px 55px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%)
				translateZ(0)
				scale(0.9)
				rotateX(60deg);

	/* Getting the GPU to handle it - the NEW way */
	will-change: top, transform;
}

			body.register-showing .register-container #register {
					top: 50%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(1) /* zoom in to scale 1:1 */
					   	   	   rotateX(0);
			}
			body.register-showing.closing .register-container #register {
					top: 45%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(0.9) /* zoom in to scale 1:1 */
					   	   	   rotateX(60deg);
			}


#inputContainer {
	width: 300%;
	height: 520px;
	position: absolute;
	left: 0;
	transition: all 0.2s ease-out;
	overflow: hidden;
}

section {
	width: 33.333%;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

#inputContainer input[type="submit"] {
	margin: 15px 5px 0px 0px;
	float: right;
	border: none;
}

#inputContainer h2 {
	margin: 0;
}


/*     REGISTER POP UP end     */

/*     NEXT & BACK buttonzzz start     */

#register.step2 #inputContainer {
	left: -100%;
}

#register.step3 #inputContainer {
	left: -200%;
}

#register.back-step1 #inputContainer {
	left: 0;
}

#register.back-step2 #inputContainer {
	left: -100%;
}

/*     NEXT & BACK buttonzzz end     */


/*     PROCESS BAR start     */

#progressColor {
	width: 33.333%;
	height: 25px;
	background-color: #c9ecff;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.3s ease-out;
}

#progressContainer {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.05);
}

.progressStep {
	width: 33.333%;
	height: 25px;
	float: left;
}

.progressStep p {
	text-align: center;
  font-size: 15px;
  color: black;
  opacity: 0.3;
  font-weight: bold;
  padding: 3px 0px 0px 0px;
  margin: 0;
}

#progressContainer.step2 #progressColor {
	width: 66.666%;
}

#progressContainer.step3 #progressColor {
	width: 100%;
}


/*     PROCESS BAR end     */


/*     EVENT MODAL  start    */

#eventmodal {
	width: 300px;
	height: 550px;
	overflow: hidden;
	background-color: white;
	position: absolute;
	position: relative;
  top: 50%;
  left: 50%;
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.5);

	transition: top 0.2s ease-out, transform 0.2s ease-out;

	box-shadow: 0 22px 55px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%)
				translateZ(0)
				scale(0.9)
				rotateX(60deg);

	/* Getting the GPU to handle it - the NEW way */
	will-change: top, transform;
}

			body.modal-showing .modal-container #eventmodal {
					top: 50%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(1) /* zoom in to scale 1:1 */
					   	   	   rotateX(0);
			}
			body.modal-showing.closing .modal-container #eventmodal {
					top: 45%;
					transform: translate(-50%, -50%) /* keep trick for correct positioning */
							   translateZ(0) /* Getting the GPU to handle it - the old way */
							   scale(0.9) /* zoom in to scale 1:1 */
					   	   	   rotateX(60deg);
			}


#eventmodal h3 {
	text-align: left;
	margin: 5px 0px 10px 0px;
}

#eventmodal img {
	width: 100%;
	height: 170px;
}

#eventmodal h2 {
	margin: 0px;
	font-size: 22px;
}

#eventmodal .cancel {
	top: 0;
}

#eventContainer {
	width: 200%;
	height: 450px;
	position: absolute;
	left: 0;
	transition: left 0.2s ease-out;
}

#event, #event2 {
	width: 50%;
	float: left;
	padding: 20px;
}

#event2 > p{
	width: 100%;
}

.event-button {
	background: #0077b2;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 40%;
}

#doneButton {
	border: none;
}

#eventmodal.confirmation #eventContainer {
	left: -100%;
}

input[type="checkbox"] {
	float: left;
	margin-top: 4px;
}

input[type="checkbox"]+p {
	font-size: 15px;
	float: left;
	margin: 0;
	margin-left: 6px;
	margin-top: 10px;
  width: 230px;
	text-align: left;
}


/*     EVENT MODAL  end    */

/*     FORM DESIGN start     */

form {
	border-top: 2px solid #dbdbdb;
	margin-top: 10px;
}

label:nth-child(1) {
	margin-top: 10px;
}

label {
  display: block;
  font-size: 14px;
}

label + label {
  margin-top: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select {
  display: block;
  width: 100%;
  border: solid 1px grey;
  padding: 10px 6px;
  font-size: 16px;
  line-height: 1;
  margin-top: 6px;
}

input[type="submit"] {
	background: #0077b2;
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding: 15px 20px;
	margin: 20px 0px;
}

/*     FORM DESIGN end     */


/*     SELECTION IN DROP DOWN MENU start     */

.doctor {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.doctor.show {
	max-height: 290px;
}

.doctor label, .other label {
	margin-top: 8px;
}

.doctor label:nth-child(1), .other label:nth-child(1){
	margin-top: 8px;
	margin-bottom: 8px;
}

.other {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.other.show {
	max-height: 210px;
	margin-top: 8px;
}

/*     SELECTION IN DROP DOWN MENU end    */



/*     CANCEL ( X ) BUTTON && NEED HELP??  start   */

.cancel {
	font-size: 28px;
	background-color: black;
	color: white;
 	padding: 5.5px 18px;
 	position: absolute;
	top: 25px;
	right: 0;
	text-decoration: none;
	z-index: 10;
}

.needHelp {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0px 14px 6px 0px;
}

/*     CANCEL ( X ) BUTTON && NEED HELP??  end     */


/*accountHomePage*/

#welcomemessage {
	background-color: rgba(178, 229, 255, 0.6);
	width: 170px;
	height: 40px;
	border-radius: 30px;
	opacity: 0;
	visibility: hidden;
	max-height: 0px;
	margin: 0 auto;
	transition: opacity 0.2s ease-out, max-height 0.2s ease-out;
}

#welcomemessage > p {
	line-height: 40px;
	margin: 5px;
}

#welcomemessage.showwelcome {
	opacity: 1;
	visibility: visible;
	max-height: 40px;
}

.tabs{
	margin: 0;
	margin-top: 5px;
	text-align: center;
	width: 100%;
	padding-left: 0;
}

.tabs > a > li {
	overflow: hidden;
	margin:0;
	list-style: none;
	display: inline-block;
	border: 1px solid #000;
	width: 50%;
	box-sizing: border-box;
	clear: right;
	padding: 5px 0;
	background-color: #cecece;
	border-radius: 8px 8px 0 0;
}

.tabs > a{
	text-decoration: none;
	font-size: 20px;
	color: #000;
}

.tabs > a.active{
}

.tabs > a.active > li{
	padding: 6px 0;
	background-color: #ffffff;
	font-weight: bold;
	border-bottom-style: none;
}


#tab1{
	text-align: center;
	overflow: hidden;
}

h3.events_title {
	color: #093b44;
	font-weight: 450;
	margin-bottom: 10px;
}


/*Right column--------------------*/

.columnRight{
	width: 50%;
	float: right;

}

.columnRight > .contentHolderBox{
	margin-left: 1.5%;
	margin-right:2%;
	margin-bottom: 15px;
	width: 96.5%;
	box-shadow: 3px 5px 10px #888888;
}


/*Left column--------------------*/

.columnLeft{
	width: 50%;
	float: left;

}

.columnLeft > .contentHolderBox{
	margin-left: 2%;
	margin-right: 1.5%;
	margin-bottom: 15px;
	width: 96.5%;
	box-shadow: 3px 5px 10px #888888;
}


.contentHolderBox{
	background-color: rgb(238, 238, 238);
}

.contentHolderBox > a{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.contentHolderBox > a > h3{
	text-align: center;
	font-size: 18px;
	margin: 0 5px;
}

.contentHolderBox > a > img {
	width: 100%;
	height: 110px;
}

.contentHolderBox > a > h4{
	text-align: center;
	margin: 5px 0;
}

#tab2{
	overflow: hidden;

}

.personalLinkList{
padding: 0;
width: 96.5%;
margin: 0 auto;
}

.personalLinkList > a > li{
	border: solid 1px #000;
	padding: 6px;
	list-style: none;
	margin-bottom: 8px;
}

.personalLinkList > a{
	text-decoration: none;
	font-size: 18px;
}

.personalLinkList > a > li > img{
max-width: 22px;
height: auto;
float: right;
}

.samePage{
	display: none;
}

.networkContent{
	display: none;
}

/* BREADCRUMBS */
#bread-crumbs {
	 margin: 10px 0px 10px 30px;
}
#bread-crumbs p {
	display: inline;
	font-size: 12px;
	padding-left: 3px;
}



/*     FOOTER start     */

footer {
	background-color: #b2e5ff;
	padding: 5%;
	font-size: 14px;
	text-align: center;
	margin-top: 80px;
}

/*     FOOTER end    */




@media (min-width:500px) {

	#modal{
		min-width: 400px;
	}

	#eventmodal{
		min-width: 400px;
		min-height: 590px;
	}

	#register{
		min-width: 400px;
	}

	section#event2 {
		padding-left: 50px;
		padding-top: 70px;
	}

	.boxContainer{
		margin: 0 auto;
		text-align: center;
	}

	.box{
		height: 200px;
		width: 50%;
	}
}

@media (min-width:600px) {

	.box {
		height: 250px;
	}

}

@media (min-width:700px) {

	#modal{
		min-width: 500px;
	}

	#eventmodal{
		min-width: 500px;
		min-height: 615px;

	}

	#register{
		min-width: 500px;
	}

	section#event2 {
		padding-left: 60px;
		padding-top: 80px;
	}

	.box {
		height: 300px;
	}
}

@media (min-width:800px) {

	header{
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
	}


	header > #siteId{
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 10px;
	}


	header > nav {
		background-color: inherit;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: inherit;
		box-shadow: none;
		text-align: center;
		transition: none;
	}

	nav.clicked {
		width: 100%;
	}

	header > nav > ul {
		display: inline-block;
		margin: 0 auto;
		float: none;
		margin-bottom: 2px;
	}

	header nav ul li {
		text-align: center;
		margin: 0 12px;
		float: left;
	}

	header nav ul li:nth-child(1){
		margin-left: 0;
	}

	#hamburger-button{
		display: none;
	}

	#site-container{
		padding-top: 100px;
	}

	.box {
		height: 350px;
	}

	.tabs, #tab1, #tab2{
		display: none;
	}

	.networkContent{
		margin-top: 20px;
		overflow: hidden;
		width: 100%;
		display: block;
	}

	.networkContent > .theFeed{
		width: 100%;
	}

	.samePage{
		margin-top: 20px;
		overflow: hidden;
		width: 100%;
		display: block;
	}

	.theFeed{
		float: left;
		width: 75%;
	}

	.theLinks{
		float: left;
		width:25%;
	}

}

@media (min-width:900px) {

	.box {
		height: 400px;
	}

}



@media (min-width:1000px) {

	#modal{
		min-width: 600px;
	}

	#register{
		min-width: 600px;
	}

	#eventmodal{
		min-width: 600px;
		min-height: 680px;
	}

	section#event2 {
		padding-left: 80px;
		padding-top: 100px;
	}

	#centeredButtons{
		margin-bottom: 40px;
	}

	.box{
		height: 200px;
		width: 25%;
	}

	.boxContainer{
		margin-bottom: 25px;
	}

	#newsletterP{
		margin-bottom: 15px;
	}

	footer{
		padding: 3%;
		margin-top: 40px;
	}

}
